<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssembly" value="TourPlaner.DataAccessLayer.PostgresSqlServer"/>
		<add key="DALFileAssembly" value="TourPlaner.DataAcessLayer.FileAccess"/>
		<add key="useFileSystem" value="false"/>
	</appSettings>
	<connectionStrings>
		<add name ="PostGresSqlConnectionString" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=postgres;Database=tourplaner"/>
		<add name ="StartFolderFilePath" connectionString="C:\Users\Andre\source\repos\TourPlaner_andreas\Testdata"/>
	</connectionStrings>
</configuration>