<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssambly" value="TourPlaner.DataAccessLayer.PostgresSqlServer"/>
	</appSettings>
	<connectionStrings>
		<add name ="PostGresSqlConnectionString" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=postgres;Database=tourplaner"/>
	</connectionStrings>
</configuration>